.Searcher {
    align-items: center;
    display: flex;
    margin-left: 45px;
}

.Searcher input {
    border-right: 0;
    border: 1px solid #020302;
    border-radius: 3px 0 0 3px;
    line-height: 35px;
    height: 35px;
    min-width: 200px;
    outline: 0;
    padding: 0px;
}

.Searcher button {
    background: #6F7070;
    border: 1px solid #6F7070;
    color: #fff;
    height: 35px;
    padding: 5px 10px;
    border-radius: 0 3px 3px 0;
    outline: 0;
    transition: background .3s ease;
}

.Searcher button:hover {
    background: #363636;
}

.Searcher button .circle:before {
    background-color: #fff;
}