/* 
	Background: #BAB9B9
	Text: #020302

	Background List item: #6F7070
	Background List item hover: #363636
	
	Sombra List item: #1D1D1D
*/

body {
	overflow: hidden;
	background-color: #BAB9B9;
}

#textoContenido {
	color: #020302;
	margin-left: 45px;
}

#container {
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	background-color: #BAB9B9;
}

#content {
	position: absolute;
	top: 0;
	left: 15%;
	width: 85%;
	height: 100%;
	background-color: #BAB9B9;
	overflow: auto;
}

/* Lista de peliculas */
#listaPeliculas { max-width: 700px; font-size:17px; }
#listaPeliculas ul { list-style: none; }
#listaPeliculas ul li { margin-bottom: 5px; }
#listaPeliculas ul li a { 
	display:block; text-decoration:none; cursor:pointer; padding-left: 10px; min-height: 45px;
	color:#020302; background-color: #6F7070;
	border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#1D1D1D;
	border-right-style:solid; border-right-width:1px; border-right-color:#1D1D1D;
	border-radius: 5px; }
#listaPeliculas ul li a:hover { color: #020302; background-color: #363636; }
#listaPeliculas ul li label { cursor:pointer; }
#listaPeliculas ul li label.titulo { font-weight: bold; display: inline-block; max-width: 580px; }
#listaPeliculas ul li label.fecha { /* que hacemos con la fecha?*/ }
#listaPeliculas ul li label.anyo { float: right; margin-right: 15px; display: inline-block; vertical-align: middle; line-height: 45px; }
#listaPeliculas ul li label.anyo:before { content: "(" }
#listaPeliculas ul li label.anyo:after { content: ")" }
#listaPeliculas ul li img.calidad { display: inline-block; vertical-align: middle; }
#listaPeliculas ul li label.audio { display: inline-block; vertical-align: middle; margin-left: 5px; }

/* Lista de series */
#listaSeries { max-width: 700px; font-size:17px; }
#listaSeries ul { list-style: none; }
#listaSeries ul li { margin-bottom: 5px; }
#listaSeries ul li a { 
	display:block; text-decoration:none; cursor:pointer; padding-left:10px; min-height: 45px; vertical-align: middle; 
	color:#020302; background-color: #6F7070;
	border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#1D1D1D;
	border-right-style:solid; border-right-width:1px; border-right-color:#1D1D1D;
	border-radius: 5px; }
#listaSeries ul li a:hover { color: #020302; background-color: #363636; }
#listaSeries ul li label { cursor:pointer; display:inline-block; vertical-align: middle; line-height: 45px; }
#listaSeries ul li label.titulo { font-weight: bold; }
#listaSeries ul li label.fechaemision { float: right; margin-right: 15px; }
#listaSeries ul li label.fechaemision:before { content: "(" }
#listaSeries ul li label.fechaemision:after { content: ")" }

/* Lista de navegacion */
#listaNavegacion { width: 250px; margin-left: -10px; }
#listaNavegacion ul { list-style:none; font-weight: bold; }
#listaNavegacion ul li { font-size:17px; }
/*
#listaNavegacion ul li a {
	display: block; text-decoration: none; cursor: pointer; padding-left: 10px;
	color: #020302; background-color: #6F7070; line-height: 30px;
	border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #1D1D1D; }
#listaNavegacion ul li a:hover { color: #020302; background-color: #363636; }
*/
#listaNavegacion ul li button {
	background-color: #6F7070;
	border: none;
	color: #020302;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #1D1D1D;
	width: 100%;
}
#listaNavegacion ul li button.activo {
	color: white;
}
#listaNavegacion ul li button:hover {
	color: #020302;
	background-color: #363636;
}

/*
h1
{
	color:red;
}
*/

#formulariobusqueda {
	margin-left:  30px;
}